* {
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    text-align: center;
}

#name-1 {
    /* TO DO  */
}

#name-2 {
    /* TO DO  */
}

